name: CICD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: [ ubuntu-latest ]
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install Dependencies
        run: npm install
      - name: Genrate Deployment Package
        run: zip -r aws-elastic-beanstalk.zip .
      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: 'AKIA5WODNK4BTHKBAPML'
          aws_secret_key: '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'
          application_name: 'aws-elastic-beanstalk'
          environment_name: 'aws-elastic-beanstalk-env'
          version_label: ${{ github.sha }}
          region: us-east-1
          deployment_package: aws-elastic-beanstalk.zip
